---
import Layout from "../layouts/Layout.astro";
import ProjectBlock from "../components/react/ProjectBlock.tsx";
import ToggleTheme from "../components/react/ToggleTheme.tsx";
import Hero from "../components/react/Hero.tsx";
import ContactSection from "../components/react/ContactSection.tsx";
import Footer from "../components/react/Footer.tsx";
import GithubLink from "../components/react/GithubLink.tsx";
import eloboost360 from "../images/projects/eloboost360.webp";
import fleetTracker from "../images/projects/fleet-tracker.webp";
import drmenswear from "../images/projects/drmenswear.webp";
import cryptoworld from "../images/projects/cryptoworld.webp";
import shopTemplate from "../images/projects/shop-template.webp";
import heroesAdventures from "../images/projects/heroes-adventures.webp";
import portfolio from "../images/projects/portfolio.webp";

const year = new Date().getFullYear();
---

<Layout
    title="Damian Chojnacki | Web Developer - Portfolio - PHP, Javascript, Laravel, React"
>
    <main class="group min-h-screen transition font-light">
        <div class="absolute right-0 top-0 m-3 flex gap-4">
            <ToggleTheme client:idle />

            <GithubLink />
        </div>

        <Hero />

        <div
            id="projects"
            class="flex flex-col items-center gap-14 bg-gray-100 dark:bg-gray-900 py-20 rounded-t-3xl text-white"
        >
            <h2
                class="text-4xl tracking-tight text-center text-black dark:text-white font-extrabold"
            >
                My projects
            </h2>

            <ProjectBlock
                client:idle
                image={eloboost360}
                name="EloBoost360"
                description="League of Legends boosting service. Various boosting plans. Implemented user authentication and multi-level authorization. Payment via PayPal Gateway."
                techs={["laravel", "javascript", "sass"]}
                liveUrl="https://eloboost360.damianchojnacki.com?token=MSjeWJQKz4tziP4aCRAR5Cp8aCOKUu0k"
            />

            <ProjectBlock
                client:idle
                image={fleetTracker}
                name="Fleet Tracker"
                description="Application that helps to manage company car fleet. Laravel REST API + Next.js Frontend. Well tested using PHPStan, PHPUnit, Jest and Cypress. Includes API and Code Documentation. Makes use of GitHub Actions to run tests and build. Dockerized."
                techs={["laravel", "next", "typescript", "tailwind", "docker"]}
                liveUrl="https://fleet-tracker-umber.vercel.app"
                githubUrl="https://github.com/damianchojnacki/fleet-tracker"
            />

            <ProjectBlock
                client:idle
                image={drmenswear}
                name="Drmenswear"
                description="Men's fashion blog built on my own CMS. Implemented posts categories, tags and rating. Easy to extend e.g. add comments."
                techs={["laravel", "react", "sass"]}
                liveUrl="https://drmenswear.damianchojnacki.com"
            />

            <ProjectBlock
                client:idle
                image={cryptoworld}
                name="CryptoWorld"
                description="NextJS application with live crypto prices implemented in socket.io. Charts created using Chart.js. Authentication flow served by Auth0."
                techs={[
                    "laravel",
                    "next",
                    "typescript",
                    "socketio",
                    "tailwind",
                    "docker",
                ]}
                liveUrl="https://cryptoworld.damianchojnacki.com"
                githubUrl="https://github.com/damianchojnacki/portfolio/blob/readme/cryptoworld-readme.md"
            />

            <ProjectBlock
                client:idle
                image={shopTemplate}
                name="Shop Template"
                description="Simple shop template built with Laravel + React and InertiaJS. Implemented checkout, discount system, coupon system, language and currency switch, Google Places API address form and currency switch based on online exchange rates. Paymnts suported by PayPal Express Checkout. Clear and intuitive UI."
                techs={[
                    "laravel",
                    "react",
                    "sass",
                    "inertia",
                    "bootstrap",
                    "google",
                ]}
                liveUrl="https://shop-template.damianchojnacki.com"
                githubUrl="https://github.com/damianchojnacki/laravel-react-shop-template"
            />

            <ProjectBlock
                client:idle
                image={heroesAdventures}
                name="Heroes Adventures"
                description="Simple turn-based RPG game. Build with ReactJS. Fight your heroes against many bosses and level up."
                techs={["react", "sass", "tailwind"]}
                liveUrl="https://heroes-adventures.damianchojnacki.com"
                githubUrl="https://github.com/damianchojnacki/heroes-adventures"
            />

            <ProjectBlock
                client:idle
                image={portfolio}
                name="Portfolio"
                description="This portfolio. Built with Astro and Preact. Styled with Tailwind."
                techs={["astro", "preact", "tailwind"]}
                githubUrl="https://github.com/damianchojnacki/portfolio"
            />
        </div>

        <ContactSection />

        <Footer {year} />
    </main>
</Layout>
